<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/top-includes.ejs') %> 
    <div class="top">
        <div class="main">
        
            <%-include('includes/display-games.ejs')%>
        </div>
    </div>
</body>