<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/top-includes.ejs') %> 
    <div class="top">

    <div class="main">

        <div class="home">
        
        <div class="scores-container">
            <div class="red-scores">Red</div>
            <div class="blue-scores">Blue</div>
        </div>

        <div class="games-container">
            games
            <% for(let i=0; i<upcomingGames.length; i++) {%> 
                <div><%=upcomingGames[i].name%></div>
                <%}%>
        </div>
       

    </div>
</div>
</div>
</body>